visdom==0.1.8.9
Wikipedia_API==0.5.4
torchvision==0.5.0
reverse_geocoder==1.5.1
tqdm==4.43.0
Werkzeug==1.0.0
numpy==1.18.2
flair==0.4.5
s2sphere==0.2.5
CairoSVG==2.4.2
python_resize_image==1.1.19
Flask==1.1.1
pycountry_convert==0.7.2
torch==1.4.0
more_itertools==8.2.0
h5py==2.10.0
pandas==1.0.3
Pillow==8.3.2
scikit_learn==0.23.1
SPARQLWrapper==1.8.5
tensorflow==2.2.0
